<!--
<tr>
	<td><%= task.content %></td>
	<td><%= task.state %></td>
	<td><%= link_to 'Show', task %></td>
	<td><%= link_to 'Edit', edit_task_path(task) %></td>
	<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% if task.state == "to_do" || task.state == "done" %>
	<td><%= link_to "Mark as Doing", change_task_path(task,state: "doing"), method: :put %></td>

    <% else %>
		<td><%= link_to "Mark as To Do", change_task_path(task,state: "to_do"), method: :put %></td>
		<td><%= link_to "Mark as Done", change_task_path(task,state: "done"), method: :put %></td>
	<% end %>

 </tr>
-->

 <div class="panel panel-info">
 	<div class="panel panel-heading"> 
 		<%= link_to edit_task_path(task) do %>
 		Created <%= time_ago_in_words(task.created_at) %> ago
 		<% end %>
 		<%= link_to "x", task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class: "pull-right" %>

 	</div>

 	<div class="panel panel-body"> <%= raw(task.content_html) %></div>

 	<div class="panel panel-footer">
 		<% if task.state == "doing" %>
		 		<div class="btn-group btn-group-justified">
		 			<%= link_to "<i class= 'fa fa-arrow-left'></i>".html_safe, change_task_path(task,state: "to_do"), method: :put, class: "btn btn-info btn-md btn-block" %>
		 			<%= link_to "<i class= 'fa fa-arrow-right'></i>".html_safe, change_task_path(task,state: "done"), method: :put, class: "btn btn-info btn-md btn-block" %>
		 		</div>
	 		<% elsif task.state == "done" %>
		 		<div class="btn-group btn-group-justified">
		 			<%= link_to "<i class= 'fa fa-arrow-left'></i>".html_safe, change_task_path(task,state: "doing"), method: :put, class: "btn btn-info btn-md btn-block" %>
		 		</div>
		 		<% else %>
			 		<div class="btn-group btn-group-justified">
			 			<%= link_to "<i class= 'fa fa-arrow-right'></i>".html_safe, change_task_path(task,state: "done"), method: :put, class: "btn btn-info btn-md btn-block" %>
			 		</div>
 			<% end %>

 	</div> 

 </div>